.container {
  background-color: white;
  display: flex;
  margin-bottom: 10px;
  max-height: 40px;
  width: 420px;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #bfc5bf;
}

.image {
  margin-top: 2px;
}

.container:hover {
  background-color: rgb(192, 190, 190);
  cursor: pointer;
}

.content {
  margin-left: 10px;
  flex-grow: 3;
}

.date {
  font-weight: 500;
}

.jobName {
  font-style: italic;
  text-align: end;
}

.location {
  font-weight: 500;
  text-align: end;
}
